<div id="projects" class="section">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2 class="text-center title">{{ page.projects_header }}</h2>
            <div class="card-deck justify-content-center">
                {% for project in page.projects %}
                <div class="col-xs-10 col-md-6 col-lg-5 col-xl-4 pb-4">
                    <div class="card text-center h-100 mx-0">
                        <img class="card-img-top" src="assets/img/projects/{{ project.background_img }}" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ project.name }}</h5>
                            <p class="card-text">{{ project.description | markdownify }}</p>
                            {% if project.github %}
                            <a href="https://github.com/{{ project.github | normalize_whitespace | remove: ' ' }}" class="btn btn-primary" target="_blank"><i class="fa fa-github"></i>&nbsp;&nbsp;{{ project.github}}</a>
                            {% endif %}
                            {% if project.docker %}
                            <a href="https://hub.docker.com/r/{{ project.docker | normalize_whitespace | remove: ' ' }}" class="btn btn-primary" target="_blank"><img src="assets/img/projects/docker.svg" alt="docker logo" style="height: 15px;"></i>&nbsp;&nbsp;{{ project.docker}}</a>
                            {% endif %}
                        </div>
                        <div class="card-body pt-0">
                            {{ project.badges | markdownify }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
